<h1 class="title">Manage Adjudications</h1>
<br>
{{#.}}
    <h2>Adjudication</h2>
    <br>
    <table class="summary-list">
        <tr><td>Charge number</td><td>{{ optionalValue chargeNumber }}</td></tr>
    </table>

    <br>
    <h3>Incident details</h3>
    <br>
    {{#incidentDetails}}
        <table class="summary-list">
            <tr><td>Location</td><td>{{ getLocationNameByNomisId locationId }}</td></tr>
            <tr><td>Date and time of incident</td><td>{{ optionalValue (formatDate dateTimeOfIncident) }}</td></tr>
            <tr><td>Date and time of discovery</td><td>{{ optionalValue (formatDate dateTimeOfDiscovery) }}</td></tr>
            <tr><td>Handover deadline</td><td>{{ optionalValue (formatDate handoverDeadline) }}</td></tr>
        </table>
    {{/incidentDetails}}

    {{#incidentRole}}
        <table class="summary-list">
            <tr><td>Associated prisoners</td><td>{{ optionalValue associatedPrisonersNumber }}</td></tr>
        </table>
        {{#offenceRule}}
            <table class="summary-list">
                <tr><td>Paragraph number</td><td>{{ optionalValue paragraphNumber }}</td></tr>
                <tr><td>Description</td><td>{{ optionalValue paragraphDescription }}</td></tr>
            </table>
        {{/offenceRule}}
    {{/incidentRole}}

    <br>
    <h3>Offence details</h3>
    {{#offenceDetails}}
        <table class="summary-list">
            <tr><td>Code</td><td>{{ optionalValue offenceCode }}</td></tr>
            <tr><td>Other victim's name</td><td>{{ optionalValue victimOtherPersonsName }}</td></tr>
            <h4>Offence rule</h4>
            {{#offenceRule}}
                <table class="summary-list">
                    <tr><td>Paragraph number</td><td>{{ optionalValue paragraphNumber }}</td></tr>
                    <tr><td>Description</td><td>{{ optionalValue paragraphDescription }}</td></tr>
                </table>
            {{/offenceRule}}
            <br>
            <h4>Protected characteristics</h4>
            <table class="data-table">
                <tr>
                    <td class="data-column-25">Characteristic</td>
                    <td class="data-column-75">ID</td>
                </tr>
                {{#protectedCharacteristics}}
                    <tr>
                        <td>{{ optionalValue characteristic }}</td>
                        <td>{{ optionalValue id }}</td>
                    </tr>
                {{/protectedCharacteristics}}
                {{^protectedCharacteristics}}
                    <tr>
                        <td>No Data Held</td>
                        <td>No Data Held</td>
                    </tr>
                {{/protectedCharacteristics}}
            </table>
        </table>
    {{/offenceDetails}}

    <br>
    <h3>Incident statement</h3>
    {{#incidentStatement}}
        <table class="summary-list">
            <tr><td>Statement</td><td>{{ optionalValue statement }}</td></tr>
        </table>
    {{/incidentStatement}}
    <br>
    <h4>Creation details</h4>
        <table class="summary-list">
            <tr><td>Created on</td><td>{{ optionalValue (formatDate createdDateTime) }}</td></tr>
            <tr><td>Status</td><td>{{ optionalValue status }}</td></tr>
            <tr><td>Status reason</td><td>{{ optionalValue statusReason }}</td></tr>
            <tr><td>Status details</td><td>{{ optionalValue statusDetails }}</td></tr>
        </table>

    <br>
    <h3>Damages</h3>
    <table class="data-table">
        <tr>
            <td class="data-column-30">Code</td>
            <td class="data-column-70">Details</td>
        </tr>
        {{#damages}}
            <tr>
                <td>{{ optionalValue code }}</td>
                <td>{{ optionalValue details }}</td>
            </tr>
        {{/damages}}
        {{^damages}}
            <tr>
                <td>No Data Held</td>
                <td>No Data Held</td>
            </tr>
        {{/damages}}
    </table>

    <br>
    <h3>Evidence</h3>
    <table class="data-table">
        <tr>
            <td class="data-column-30">Code</td>
            <td class="data-column-30">Details</td>
            <td class="data-column-20">Identifier</td>
            <td class="data-column-20">Reporter</td>
        </tr>
        {{#evidence}}
            <tr>
                <td>{{ optionalValue code }}</td>
                <td>{{ optionalValue details }}</td>
                <td>{{ optionalValue identifier }}</td>
                <td>{{ getUserLastName reporter }}</td>
            </tr>
        {{/evidence}}
        {{^evidence}}
            <tr>
                <td>No Data Held</td>
                <td>No Data Held</td>
                <td>No Data Held</td>
                <td>No Data Held</td>
            </tr>
        {{/evidence}}
    </table>

    <br>
    <h3>Witnesses</h3>
    <table class="data-table">
        <tr>
            <td class="data-column-20">Last name</td>
            <td class="data-column-20">Reporter</td>
        </tr>
        {{#witnesses}}
            <tr>
                <td>{{ optionalValue lastName }}</td>
                <td>{{ getUserLastName reporter }}</td>
            </tr>
        {{/witnesses}}
        {{^witnesses}}
            <tr>
                <td>No Data Held</td>
                <td>No Data Held</td>
            </tr>
        {{/witnesses}}
    </table>

    <br>
    <h3>Hearings</h3>
    {{#hearings}}
        <h4>Hearing</h4>
        <table class="summary-list">
            <tr><td>Date and time of hearing</td><td>{{ optionalValue (formatDate dateTimeOfHearing) }}</td></tr>
            <tr><td>Location</td><td>{{ getLocationNameByNomisId locationId }}</td></tr>
            <tr><td>OIC hearing type</td><td>{{ optionalValue oicHearingType }}</td></tr>
            <tr><td>Agency</td><td>{{ getPrisonName agencyId }}</td></tr>
        </table>
        <br>
        <h5>Outcome</h5>
        <table class="data-table">
            <tr>
                <td class="data-column-25">Plea</td>
                <td class="data-column-35">Adjudicator</td>
                <td class="data-column-20">Code</td>
            </tr>
            {{#outcome}}
                <tr>
                    <td>{{ optionalValue plea }}</td>
                    <td>{{ getUserLastName adjudicator }}</td>
                    <td>{{ optionalValue code }}</td>
                </tr>
            {{/outcome}}
            {{^outcome}}
                <tr>
                    <td>No Data Held</td>
                    <td>No Data Held</td>
                    <td>No Data Held</td>
                </tr>
            {{/outcome}}
        </table>
    {{/hearings}}
    {{^hearings}}
        <p>No Data Held</p>
    {{/hearings}}

    <br>
    <h3>DIS issue history</h3>
    <table class="data-table">
        <tr>
            <td class="data-column-30">Issuing officer</td>
            <td class="data-column-70">Date and time of issue</td>
        </tr>
        {{#disIssueHistory}}
            <tr>
                <td>{{ optionalValue issuingOfficer }}</td>
                <td>{{ optionalValue (formatDate dateTimeOfIssue) }}</td>
            </tr>
        {{/disIssueHistory}}
        {{^disIssueHistory}}
            <tr>
                <td>No Data Held</td>
                <td>No Data Held</td>
            </tr>
        {{/disIssueHistory}}
    </table>

    <table class="summary-list">
        <tr><td>Date and time of first hearing</td><td>{{ optionalValue (formatDate dateTimeOfFirstHearing) }}</td></tr>
    </table>

    <br>
    <h3>Outcomes</h3>
    {{#outcomes}}
        <h4>Hearing</h4>
        {{#hearing}}
            <table class="summary-list">
                <tr><td>Date and time of hearing</td><td>{{ optionalValue (formatDate dateTimeOfHearing) }}</td></tr>
                <tr><td>Location</td><td>{{ getLocationNameByNomisId locationId }}</td></tr>
                <tr><td>OIC hearing type</td><td>{{ optionalValue oicHearingType }}</td></tr>
                <tr><td>Agency</td><td>{{ getPrisonName agencyId }}</td></tr>
            </table>
            <h5>Outcome</h5>
            <table class="data-table">
                <tr>
                    <td class="data-column-30">Plea</td>
                    <td class="data-column-25">Adjudicator</td>
                    <td class="data-column-25">Code</td>
                </tr>
                {{#outcome}}
                    <tr>
                        <td>{{ optionalValue plea }}</td>
                        <td>{{ getUserLastName adjudicator }}</td>
                        <td>{{ optionalValue code }}</td>
                    </tr>
                {{/outcome}}
            </table>
        {{/hearing}}
        {{#outcome}}
            {{#outcome}}
                <table class="summary-list">
                    <tr><td>Code</td><td>{{ optionalValue code }}</td></tr>
                </table>
            {{/outcome}}
        {{/outcome}}
        {{^outcome}}
            <p>No Data Held</p>
        {{/outcome}}
    {{/outcomes}}
    {{^outcomes}}
        <p>No Data Held</p>
    {{/outcomes}}

    <br>
    <h3>Punishments</h3>
    {{#punishments}}
        <h4>Punishment</h4>
        <table class="data-table">
            <tr>
                <td class="data-column-30">Type</td>
                <td class="data-column-30">Privilege type</td>
                <td class="data-column-30">Percentage stopped</td>
            </tr>
            <tr>
                <td>{{ optionalValue type }}</td>
                <td>{{ optionalValue privilegeType }}</td>
                <td>{{ optionalValue stoppedPercentage }}</td>
            </tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-30">Activated by charge number</td>
                <td class="data-column-30">Suspended until</td>
                <td class="data-column-30">Amount</td>
            </tr>
            <tr>
                <td>{{ optionalValue activatedByChargeNumber }}</td>
                <td>{{ optionalValue (formatDate suspendedUntil) }}</td>
                <td>{{ optionalValue amount }}</td>
            </tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-30">Sanction sequence</td>
                <td class="data-column-30">Consecutive to charge number</td>
                <td class="data-column-30">Actual created date</td>
            </tr>
            <tr>
                <td>{{ optionalValue sanctionSeq }}</td>
                <td>{{ optionalValue consecutiveToChargeNumber }}</td>
                <td>{{ optionalValue (formatDate actualCreatedDate) }}</td>
            </tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-30">Payback notes</td>
                <td class="data-column-30">Rehab completed</td>
                <td class="data-column-30">Rehab not completed outcome</td>
            </tr>
            <tr>
                <td>{{ optionalValue paybackNotes }}</td>
                <td>{{ optionalValue rehabCompleted }}</td>
                <td>{{ optionalValue rehabNotCompletedOutcome }}</td>
            </tr>
        </table>

        <br>
        <h4>Schedule</h4>
        <table class="data-table">
            <tr>
                <td class="data-column-15">Duration</td>
                <td class="data-column-20">Measurement</td>
                <td class="data-column-15">Start date</td>
                <td class="data-column-15">End date</td>
                <td class="data-column-20">Suspend until</td>
            </tr>
            {{#schedule}}
                <tr>
                    <td>{{ optionalValue duration }}</td>
                    <td>{{ optionalValue measurement }}</td>
                    <td>{{ optionalValue (formatDate startDate) }}</td>
                    <td>{{ optionalValue (formatDate endDate) }}</td>
                    <td>{{ optionalValue suspendUntil }}</td>
                </tr>
            {{/schedule}}
        </table>

        <br>
        <h4>Rehabilitative activities</h4>
        <table class="data-table">
            <tr>
                <td class="data-column-15">Details</td>
                <td class="data-column-20">Monitor</td>
                <td class="data-column-15">Total sessions</td>
                <td class="data-column-15">End date</td>
                <td class="data-column-20">Completed</td>
            </tr>
            {{#rehabilitativeActivities}}
                <tr>
                    <td>{{ optionalValue details }}</td>
                    <td>{{ optionalValue monitor }}</td>
                    <td>{{ optionalValue totalSessions }}</td>
                    <td>{{ optionalValue (formatDate endDate) }}</td>
                    <td>{{ optionalValue completed }}</td>
                </tr>
            {{/rehabilitativeActivities}}
            {{#rehabilitativeActivities}}
                <tr>
                    <td>No Data Held</td>
                    <td>No Data Held</td>
                    <td>No Data Held</td>
                    <td>No Data Held</td>
                    <td>No Data Held</td>
                </tr>
            {{/rehabilitativeActivities}}
        </table>
    {{/punishments}}
    {{^punishments}}
        <p>No Data Held</p>
    {{/punishments}}

    <h3>Punishment comments</h3>
    {{#punishmentComments}}
        <table class="summary-list">
            <tr><td>Comment</td><td>{{ optionalValue comment }}</td></tr>
            <tr><td>Reason for change</td><td>{{ optionalValue reasonForChange }}</td></tr>
            <tr><td>Actual created date</td><td>{{ optionalValue (formatDate actualCreatedDate) }}</td></tr>
        </table>
    {{/punishmentComments}}
    {{^punishmentComments}}
        <p>No Data Held</p>
    {{/punishmentComments}}

    <table class="summary-list">
        <tr><td>Originating agency</td><td>{{ getPrisonName originatingAgencyId }}</td></tr>
        <tr><td>Suspended punishments activated</td><td>{{ convertBoolean canActionFromHistory }}</td></tr>
        <tr><td>Linked charge numbers</td><td>{{#linkedChargeNumbers}}{{ . }}{{#unless @last}}, {{/unless}}{{/linkedChargeNumbers}}{{^linkedChargeNumbers}}No Data Held{{/linkedChargeNumbers}}</td></tr>
    </table>
    <br>
{{/.}}